/* Found this style att:
https://www.makeuseof.com/css-background-gradients/ */
body {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.fixed-card {
    height: 300px;
}

#addPostModal {
    display: none;
}

.adventure-card {
    height: 300px; 
    margin: 20px;
}

.adventure-image {
    object-fit: cover;
    background-color: black;
}

.card-tint {
    background: hsla(0,0%,100%,.3);
    width: 33%;
    color: black;
    text-decoration: none;
}


.title-style {
    text-decoration: none;
    color: black;
    display: block
}

.title-style:first-letter{
    text-transform: capitalize;
}

.card-title {
    text-decoration: none;
}

.fa-sun{
    color: yellow;
}

.destination-card{
    margin-top: 50px;
    margin-bottom: 50px;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,.5));
}


.card-buttons {
    font-size: 30px;
    height: 70px;
}

.fa-trash {
    color: red;
}

.post-button{
    margin-top: 20px;
}

.comment {
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,.5));
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-delete-btn{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: larger;
    color: red;
}

@media screen and (max-width: 500px) {
    .card-tint{
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .card-tint{
        width: 100%;
    }
    .adventure-card {
        margin-left: 0;
        margin-right: 0;
    }
    .post-button{
        display: flex;
        justify-content: center;
    }
}