{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<h1 class="display-1">Your Adventures</h1>
{% for adventure in adventure_list %}
<div class="card text-bg-dark container-md" style="height: 300px;">
  {% if "placeholder" in adventure.featured_image.url %}
  <img src="https://res.cloudinary.com/djs04srkx/image/upload/v1689779263/samples/landscapes/architecture-signs.jpg" width="100%"class="card-img img-fluid fixed-card" alt="...">
  {% else %}
  <img src=" {{ adventure.featured_image.url }}" width="100%"class="card-img img-fluid fixed-card" alt="...">
  {% endif %}
    <div class="card-img-overlay">
      <h1 class="card-title display-2 "><a href="{% url 'adventure_detail' adventure.id %}">{{ adventure.name }}</a></h1>
      <p class="card-text">{{ adventure.date }}<i class="fa-regular fa-calendar-days"></i></p>
      <p class="card-text"><small>Created by: {{ adventure.author }}</small></p>
      <a href="/edit/{{ adventure.id }}"><button class="btn btn-primary"><i class="fa-solid fa-pen"></i></button></td></a>
        <a href="/delete/{{ adventure.id }}"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></td>
    </div>
  </div>
  {% empty %}
  <p class="text-center">You have no Adventures planed.</p>
{% endfor %}
<h3>Add an Adventure</h3>
<p>Posting as: {{ user.username }}</p>
<a href="/add/{{ user.id }}"><button type="button" class="btn btn-primary">Add an Adventure</button></a>
{% endblock %}