{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
<h1>Your Adventures</h1>
<table>
    {% for adventure in adventure_list %}
        <tr>
            <td>
                <a href="{% url 'adventure_detail' adventure.id %}">{{ adventure.name }}</a>
            {{ adventure.date }}
            </td>
            <td>
                <a href="/edit/{{ adventure.id }}">
                <button>Edit</button></td>
                </a>
            <td>
                <a href="/delete/{{ adventure.id }}">
                    <button>Delete</button></td>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>You have no Adventures planed.</td></tr>

    {% endfor %}
</table>
<h3>Add an Adventure.</h3>
<p>Posting as: {{ user.username }} {{user.id}}</p>
<a href="/add/{{ user.id }}">Add an Adventure</a>
{% endblock %}