{% extends "base.html" %}

{% block content %}
<h1>Your Adventures</h1>
<table>
    {% for adventure in adventures %}
        <tr>
            <td>
                <a href="/post/{{ post.id }}">{{ adventure.name }}
            {{ adventure.date }}
            </td>
            <td>
                <a href="/edit/{{ adventure.id }}">
                <button>Edit</button></td>
                </a>
            <td>
                <a href="/delete/{{ adventure.id }}">
                    <button>Delete</button></td>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>You have no Adventures planed.</td></tr>

    {% endfor %}
</table>
<a href="/add">Add an Adventure</a>
{% endblock %}