{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<h1>{{ adventure.name }}</h1>
<h2>Posts:</h2>
<table>
    {% for post in posts %}
        <tr>
            <td>
                {{ post.title }}
                {{ post.created_on }}
                
            </td>
            <td>
                {{ post.content }}
            </td>
            <td>
                {{ post.author }}
            </td>
            <td>
                <a href="/edit_post/{{ post.id }}">
                <button>Edit</button></td>
                </a>
            <td>
                <a href="/delete_post/{{ post.id }}">
                    <button>Delete</button></td>
                </a>
            </td>
            <td>
                <a href="/add_comment/{{ post.id }}">
                    <button>Add comment</button></td>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td>You have no Destinations planed.</td></tr>
    {% endfor %}
</table>
<form method="POST">
    {{ post_form|crispy }}
    {% csrf_token %}
    <button type="submit">Add</button>
</form>
<h4>Comments: </h4>
{% for comment in comments %}
{{ comment.name}}
{{ comment.body }}
{% endfor %}
<form method="POST">
    {{ comment_form|crispy }}
    {% csrf_token %}
    <button type="submit">Add</button>
</form>
{% endblock %}